.site-head {
  &__site-name {
    @include apply-utility('font', 'serif');
    font-size: get-size(700);
    font-weight: 700;
    text-align: right;
    text-decoration: none;
    color: var(--color-text);

    b {
      color: var(--color-pop);
      display: block;
      margin-top: -.5rem;
    }
  }
}
.masks_made {
  border-top: 1px solid var(--color-stroke);
  border-bottom: 1px solid var(--color-stroke);
  @include apply-utility('font', 'serif');
  font-size: 1.5rem;
  text-align: center;
}
