.site-head {
  &__site-name {
    @include apply-utility('font', 'serif');
    font-size: get-size(700);
    font-weight: 700;
    text-align: right;
    text-decoration: none;
    color: var(--color-text);

    b {
      color: var(--color-pop);
      display: block;
      margin-top: -.5rem;
    }
  }
}
