{% extends 'layouts/base.njk' %}
{% set pageType = 'FAQ' %}

{# Intro content #}
{% set introHeading = title %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="[ post ] [ h-entry ]">
      {% include "partials/components/intro.njk" %}
      <div class="[ post__body ] [ inner-wrapper ] [ leading-loose pad-top-900 pad-bottom-900 text-500 ] [ sf-flow ] [ e-content ]">
        {{ content | safe }}
        <ul class="faq-list">
          {% for section in sections %}
            {% for faq_item in section.faq %}
              <li><a href="#{{ faq_item.q | slug }}">{{ faq_item.q }}</a></li>
            {% endfor %}
          {% endfor %}
        </ul>
        {% for section in sections %}
          <hr>
          <section id="{{ section.name | slug }}">
            <h2>{{ section.name }}</h2>
            {% if section.faq %}
              <dl class="faq">
              {% for faq_item in section.faq %}
                <dt class="faq__question" id="{{ faq_item.q | slug }}">{{ faq_item.q }}</dt>
                <dd class="faq__answer">
                  {{ faq_item.a | markdownify }}
                </dd>
              {% endfor %}
              </dl>
            {% endif %}
          </section>
        {% endfor %}
      </div>
    </article>
  </main>
{% endblock %}

{{ content | safe }}
