{% extends 'layouts/base.njk' %}
{% set pageType = 'Pattern' %}

{# Intro content #}
{% set introHeading = title %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="[ post ] [ h-entry ]">
      {% include "partials/components/intro.njk" %}
      <div class="[ post__body ] [ inner-wrapper ] [ leading-loose pad-top-900 pad-bottom-900 text-500 ] [ sf-flow ] [ e-content ]">
        
        {{ content | safe }}

        {% if collections.patterns.length %}
          <ul class="[ post-list__items ] [ sf-flow ] [ pad-top-300 ]">
            {% for pattern in collections.patterns %}
              <li class="post-list__item">
                <h3 class="font-base leading-tight text-600 weight-mid">
                  <a href="{{ pattern.url }}" class="post-list__link" rel="bookmark">{{ pattern.data.skill_level | capitalize }} Skills - {{ pattern.data.title }}</a>
                </h3>
                {% if pattern.data.description %}
                  {{ pattern.data.description | markdownify }}
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </article>
  </main>
{% endblock %}

{{ content | safe }}
