{% if site.forms %}

  {{ request_form.intro | replace("%MASKS_MADE%", batches.masks_made) | markdownFilter | safe }}

  <p class="form_intro">Note: All fields are required</p>

  {% from "macros.njk" import label, field, confirm, select, radios, checkboxes, textarea, button %}
  <form name="request" method="POST" data-netlify="true" action="/volunteer/thanks/" netlify-honeypot="bot-field">
    <fieldset>
      <h2>About Your Organization</h2>
      <ol class="questions">
        <li class="question">
          {{ label("What’s your organization’s name?", "name") }}
          {{ field( "text", "name", { required: true, autocomplete: "organization", autocorrect: "off", autocapitalize: "off" } ) }}
        </li>
        <li class="question">
          {{ label("Who is the point of contact for your organization?", "contact") }}
          {{ field( "text", "contact", { required: true, autocomplete: "name", autocorrect: "off", autocapitalize: "off" } ) }}
        </li>
        <li class="question">
          {{ label("What’s the best email to reach them at?", "email") }}
          {{ field( "email", "email", { required: true, autocomplete: "email" } ) }}
        </li>
        <li class="question">
          {{ label("What’s the best phone number to reach them on?", "phone") }}
          {{ field( "tel", "phone", { required: true, autocomplete: "tel" } ) }}
          <div class="question__addendum">
            {{ confirm("This number can send/receive text messages", "text", {value: "Yes"}) }}
          </div>
        </li>
        <li class="question">
          {{ label("What’s your organization’s street address?", "address") }}
          {{ textarea( "address", { required: true, autocapitalize: "off", rows: 3 } ) }}
        </li>
        <li class="question">
          {{ label("What neighborhood is your organization located in?", "neighborhood") }}
          {{ field( "text", "neighborhood", { required: true, autocomplete: "name", autocorrect: "off", autocapitalize: "off" } ) }}
        </li>
        <li class="question">
          {{ label("What is your organization’s website?", "website") }}
          {{ field( "url", "website", { autocomplete: "name", autocorrect: "off", autocapitalize: "off" } ) }}
        </li>
        <li class="question">
          {{ radios( "Which best describes your organization?", "org-type", ["Non-profit business", "For-profit business", "Community organization"], { required: true, other: true } ) }}
        </li>
        <li class="question">
          {{ radios("Is your organization considered an “essential business”?", "essential", [ "Yes", "No" ] ) }}
        </li>
        <li class="question">
          {{ checkboxes("What populations does your organization serve?", "populations", [ "Elderly", "Medical Patients", "Children", "Homeless", "Indigenous Peoples" ], { other: true } ) }}
        </li>
        <li class="question">
          {{ radios("Do you serve COVID-19 positive clients?", "covid-positive", [ "Yes", "No" ] ) }}
        </li>
        <li class="question">
          {{ label("Who will be wearing your masks?", "mask-wearers") }}
          {{ textarea( "mask-wearers", { required: true, autocapitalize: "off", rows: 3 } ) }}
        </li>
        <li class="question">
          {{ label("Anything else we should know about your organization?", "additional-info") }}
          {{ textarea( "additional-info", { autocapitalize: "off", rows: 3 } ) }}
        </li>
        <li hidden>
          <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
        </li>
      </ol>
    </fieldset>
    <fieldset>
      <h2>Mask Request</h2>
      <div class="text-block">
        {{ request_form.masks | markdownFilter | safe }}
      </div>
      <ul class="question__list">
        <li class="question">
          <fieldset>
            <legend>How many masks is your organization requesting?</legend>
            <ul class="question__list">
              <li class="question question--inline">{{ field( "text", "adult", { inputmode: "numeric", pattern: "\\d*", size: 5 } ) }} {{ label("Rectangular (adult sized)", "adult") }}</li>
              <li class="question question--inline">{{ field( "text", "child", { inputmode: "numeric", pattern: "\\d*", size: 5 } ) }} {{ label("Rectangular (kid sized)", "child") }}</li>
              <li class="question question--inline">{{ field( "text", "fitted", { inputmode: "numeric", pattern: "\\d*", size: 5 } ) }} {{ label("Fitted", "fitted") }}</li>
            </ul>
          </fieldset>
        </li>
      </ul>
    </fieldset>
    <fieldset>
      <h2>Delivery Information</h2>
      <div class="text-block">
        {{ request_form.delivery | markdownFilter | safe }}
      </div>
      <ol class="questions"
          data-copy-fields="contact::dropoff-contact|phone::dropoff-phone|text::dropoff-text|email::dropoff-email|address::dropoff-address"
          data-copy-fields-label="Copy organization contact details into the fields below"
          >
        <li class="question">
          {{ label("What is the drop off contact’s name?", "dropoff-contact") }}
          {{ field( "text", "dropoff-contact", { required: true, autocomplete: "name", autocorrect: "off", autocapitalize: "off" } ) }}
        </li>
        <li class="question">
          {{ label("What’s the best phone number to reach them on?", "dropoff-phone") }}
          {{ field( "tel", "dropoff-phone", { required: true, autocomplete: "tel" } ) }}
          <div class="question__addendum">
            {{ confirm("This number can send/receive text messages", "dropoff-text", {value: "Yes"}) }}
          </div>
        </li>
        <li class="question">
          {{ label("What’s the best email to reach them at?", "dropoff-email") }}
          {{ field( "email", "dropoff-email", { required: true, autocomplete: "email" } ) }}
        </li>
        <li class="question">
          {{ label("What’s the dropoff address?", "dropoff-address") }}
          {{ textarea( "dropoff-address", { required: true, autocapitalize: "off", rows: 3 } ) }}
        </li>
        <li class="question">
          {{ label("Anything we need to know about dropping off your masks?", "dropoff-additional-info") }}
          {{ textarea( "dropoff-additional-info", { required: true, autocapitalize: "off", rows: 3 } ) }}
        </li>
        <li hidden>
          <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
        </li>
      </ol>
    </fieldset>
    {{ button("Send it in") }}
  </form>

  <script type="module" src="/js/components/copy-fields.js" async defer></script>

{% else %}

  <hr>
  <p><strong>We have taken our forms offline for maintenance. They should be back up shortly. Please try again in an hour.</strong></p>

{% endif %}