{% from "macros.njk" import label, field, confirm, select, radios, checkboxes, textarea, button %}

{% set openBatches = batches.list | openBatchFilter %}
{% if openBatches.length > 0 %}
  <div class="batch_info">
    <h2>Currrent Batches</h2>
    <ol>
      {% for batch in openBatches %}
        <li class="batch">
          <span class="batch__title"><strong>{{ batch.name }}</strong>: <time>{{ batch.start | dateFilter }}</time>—<time>{{ batch.end | dateFilter }}</time></span><br>
          {% if batch.beneficiaries %}
            {{ batch.beneficiaries }}<br>
          {% endif %}
          <a class="batch__mask" href="{{ batch.pattern }}">Pattern</a>
        </li>
      {% endfor %}
    </ol>
  </div>
{% endif %}

<p class="form_intro">Note: All fields are required</p>

<form name="sewing" method="POST" data-netlify="true" action="/volunteer/thanks/" netlify-honeypot="bot-field">
  <ol class="questions">
    <li class="question">
      {{ label("What’s your full name?", "name") }}
      {{ field( "text", "name", { required: true, autocomplete: "name", autocorrect: "off", autocapitalize: "off", description: "Please provide both your given and family names." } ) }}
    </li>
    <li class="question">
      {{ label("What’s the best email to reach you at?", "email") }}
      {{ field( "email", "email", { required: true, autocomplete: "email", description: "We will only use your email to coordinate this volunteer effort." } ) }}
    </li>
    <li class="question">
      {{ label("What’s your street address?", "address") }}
      {{ textarea( "address", { required: true, autocapitalize: "off", rows: 3, description: "We need this in order to collect the finished masks from you and/or to drop off materials." } ) }}
    </li>
    <li class="question">
      {{ label("What’s the best phone number to reach you on?", "phone") }}
      {{ field( "tel", "phone", { required: true, autocomplete: "tel", description: "We will only use your phone number to coordinate this volunteer effort." } ) }}
      <div class="question__addendum">
        {{ confirm("This number can send/receive text messages", "text") }}
      </div>
    </li>
    <li class="question">
      {{ radios("Are you or anyone in your home at high risk (immunocompromised, elderly, etc.)?", "risk", [ "Yes", "No" ] ) }}
    </li>
    <li class="question">
      {{ label("Which batch would you like to make?", "batch") }}
      {{ select( "batch", openBatches | extractKeyFilter("name"), { required: true } ) }}
    </li>
    <li class="question">
      {{ radios("How many masks can you make?", "quantity", [ "25", "50", "75", "100", "125", {label: "150+ (in increments of 25)", value: "150+"} ] ) }}
    </li>
    <li class="question">
      {{ label("What neighborhood are you closest to?", "neighborhood") }}
      {{ select( "neighborhood", site.neighborhoods, { required: true } ) }}
    </li>
    <li class="question">
      {{ radios("Are you safe and willing to drop off/pick up from a nearby neighborhood location? (We will make sure to eliminate contact.)", "drop-off", [ "Yes", { label: "No, please set up porch pickups for me", value: "No" } ] ) }}
    </li>
    <li class="question">
      {{ checkboxes("If you need donated materials, what do you need?", "materials", [ "Cotton fabric", { label: "Elastic", value: "Elastic", note: "Please keep in mind that if you *only* need elastic you can make fabric ties instead" }, "Wire" ] ) }}
    </li>
    <li hidden>
      <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
    </li>
  </ol>
  {{ button("Send it in") }}
</form>