{% if site.forms %}

  {% from "macros.njk" import label, field, confirm, select, radios, hidden_field, checkboxes, textarea, button %}

  {% set patterns = batches.patterns %}
  {% set openBatches = batches.list | openBatchFilter %}
  {% if openBatches.length > 0 %}
    <div class="batch_info">
      <h2>Schedule</h2>
      <ol class="batches" id="display-batches">
        {% set displayBatches = openBatches | limit(2) %}
        {% for batch in displayBatches %}
          <li class="batch" data-batch-name="{{ batch.name}}" data-batch-cutoff="{{ batch.cutoff }}">
            <h3 class="batch__title">{{ batch.name }}</h3>
            <dl class="batch__details">
              <dt>Sign-up Period</dt>
              <dd><time>{{ batch.start | dayFilter }}</time>–noon, {{ batch.cutoff | dayFilter }}</time></dd>
              <dt>Materials Available</dt>
              <dd><time>{{ batch.pickup | dayFilter }}</time></dd>
              <dt>Complete By</dt>
              <dd><time>{{ batch.end | dayFilter }}</time></dd>
              <dt>Masks We’re Making</dt>
              <dd>
                <ul>
                  {% for mask in batch.masks %}
                    {% set pattern = patterns | findByProperty( "id", mask.pattern ) %}
                    <li>
                      <a href="{{ pattern.url }}">{{ pattern.name }}</a> for
                      <a rel="external nofollow" href="{{ mask.beneficiary_url }}">{{ mask.beneficiary }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </dd>
            </dl>
          </li>
        {% endfor %}
      </ol>
    </div>
  {% endif %}

  <p class="form_intro">Note: All fields are required</p>

  <form name="sewing" method="POST" data-netlify="true" action="/volunteer/thanks/" netlify-honeypot="bot-field">
    <ol class="questions">
      <li class="question">
        {{ label("What’s your full name?", "name") }}
        {{ field( "text", "name", { required: true, autocomplete: "name", autocorrect: "off", autocapitalize: "off", description: "Please provide both your given and family names." } ) }}
      </li>
      <li class="question">
        {{ label("What’s the best email to reach you at?", "email") }}
        {{ field( "email", "email", { required: true, autocomplete: "email", description: "We will only use your email to coordinate this volunteer effort." } ) }}
      </li>
      <li class="question">
        {{ label("What’s the best phone number to reach you on?", "phone") }}
        {{ field( "tel", "phone", { required: true, autocomplete: "tel", description: "We will only use your phone number to coordinate this volunteer effort." } ) }}
        <div class="question__addendum">
          {{ confirm("This number can send/receive text messages", "text", {value: "Yes"}) }}
        </div>
      </li>
      <li class="question">
        {{ label("Which mask are you signing up for?", "skill") }}
        {{ select( "pattern", patterns | sort, { required: true, description: 'Please <a href="/patterns/">take a look at the patterns</a> before deciding.' } ) }}
        {{ hidden_field( "batch_name", openBatches[0].name ) }}
        {{ hidden_field( "batch_date", openBatches[0].end ) }}
        {{ hidden_field( "total_masks", batches.masks_made ) }}
        {{ hidden_field( "beneficiaries", batches.beneficiaries ) }}
        {{ hidden_field( "js-on", "no" ) }}
      </li>
      <li class="question">
        {{ radios("How many masks can you make by the due date?", "quantity", [ "25", "50", "75", "100", "125", {label: "150+ (in increments of 25)", value: "150+"} ], { required: true, description: 'You can reference <a href="#display-batches">the due date for your batch, above</a>.' } ) }}
      </li>
      <li class="question">
        {{ label("What neighborhood are you closest to?", "neighborhood") }}
        {{ select( "neighborhood", neighborhoods.list | extractKeyFilter("name"), { required: true, attributes: [ "data-save-for-later" ], options_before: [{label: "-- Choose One --", value: ""}] } ) }}
      </li>
      <li class="question">
        {{ radios("Are you safe and willing to drop off/pick up from a nearby neighborhood location? (We will make sure to eliminate contact.)", "drop-off", [ "Yes", { label: "No, please set up porch pickups for me (must be within a 10 mile radius of neighborhood)", value: "No" } ], { required: true } ) }}
      </li>
      <li class="question" data-dependent-field data-dependent-field-controlled-by="drop-off" data-dependent-field-required-value="No">
        {{ label("What’s your street address?", "address") }}
        {{ textarea( "address", { required: true, autocapitalize: "off", rows: 3, description: "We need this in order to collect the finished masks from you and/or to drop off materials." } ) }}
      </li>
      <li class="question">
        {{ radios("Do you need us to provide you with materials?", "materials", [ "Yes", { label: "No, I have read the requirements and have everything I need", value: "No" } ], { required: true } ) }}
      </li>
      {% if showFreeMaskProject %}
      <li class="question">
          {{ confirm("I want to be part of the Free Mask Project (only one sign up each please)", "free-mask-project", {value: "Yes", description: 'Not sure what the Free Mask Project is? <a href="https://www.facebook.com/101559534884322/posts/151099956596946/">Read about it on Facebook</a>.'}) }}
      </li>
      {% endif %}
      <!--li class="question">
        {{ radios("Are you a part of Made Sewing Studio?", "made_studio", [ "Yes", "No" ], { required: true, description: 'Don’t know what Made Sewing Studio is? Please <a href="https://madesewstudio.com/">visit their site</a>.' } ) }}
      </li-->
      <li hidden>
        <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
      </li>
    </ol>
    {{ button("Send it in") }}
  </form>

  <template id="batches" style="display: none">
    {% for batch in openBatches %}
      <li class="batch" data-batch-name="{{ batch.name}}" data-batch-cutoff="{{ batch.cutoff }}">
        <h3 class="batch__title">{{ batch.name }}</h3>
        <dl class="batch__details">
          <dt>Sign-up Period</dt>
          <dd><time>{{ batch.start | dayFilter }}</time> – midnight, {{ batch.cutoff | dayFilter }}</time></dd>
          <dt>Materials Available</dt>
          <dd><time>{{ batch.pickup | dayFilter }}</time></dd>
          <dt>Complete By</dt>
          <dd><time>{{ batch.end | dayFilter }}</time></dd>
          <dt>Masks We’re Making</dt>
          <dd>
            <ul>
              {% for mask in batch.masks %}
                {% set pattern = patterns | findByProperty( "id", mask.pattern ) %}
                <li>
                  <a href="{{ pattern.url }}">{{ pattern.name }}</a> for
                  <a rel="external nofollow" href="{{ mask.beneficiary_url }}">{{ mask.beneficiary }}</a>
                </li>
              {% endfor %}
            </ul>
          </dd>
        </dl>
      </li>
    {% endfor %}
  </template>
  <script type="module" src="/js/components/dependent-field.js" async defer></script>
  <script>
    var open_batches = JSON.parse( '{{ openBatches | json | replace("'", "\\'") | safe }}' );
    {% include "assets/js/sewing-form.js" %}
    {% include "assets/js/field-save.js" %}
  </script>

{% else %}

  <hr>
  <p><strong>We have taken our forms offline for maintenance. They should be back up shortly. Please try again in an hour.</strong></p>

{% endif %}
